/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
    padding: 30px;
    background-color: #06e6ef;
  border: 10px solid;
  border-color: #ea47c0;
}

#main-title {
  color: #ff1811;
  font-family: 'URW Gothic';
  text-align: right;
  font-size: 4rem;
  transform-origin: bottom center;
}

.faculty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#faculty {
  background-color: #009f27;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 15px
}

#faculty>ul>li {
  display: inline-block;
  font-family: sans-serif;
  padding: 50px;
  background-color: #0806a6;
}

#faculty-list {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* This tell's the flex items to wrap if there
                        isn't enough space for all of the items. Without this the
                        faculty images will be in a row and only resize well unitl around
                        550px width of screen. */
  justify-content: center;
  align-content: center;
}

.section {
  border-radius: 25px;
  padding: 20px;
  border: 5px solid;
  margin: 10px;
  max-width: 60em;
  color: #a903f9;
}

#style ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #009f27;
}

#style li {
  float: left; /*explore what happens if this is 'right' instead*/
}

#style li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px; /*this adds some spacing around the items in our "nav bar" */
  text-decoration: none;
}

/* Change the link background color to #000 (black) on hover */
#style li a:hover {
  background-color: #a903f9;
}

#style {
  position: fixed;
  background-color: #0806a6;
  left: 0;
  right: 0;
  top: 0;
  height: 55px;
  padding-top: 10px;
}





